<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DynamoGym</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style_about.css">
</head>
<body>
    <nav class="navbar h-nav-resp">
        <ul class="nav-list v-class-resp">
            <div class="logo">DynamoGym</div>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/service">Services</a></li>
            <li><a href="/join">Join</a></li>
            <li><a href="/stay">Connected</a></li>
        </ul>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <section class="about" id="about">
        <div class="row">
            <div class="about-content">
                <h1>About Us</h1>
                <h3>Daily Workout And Stay Active At Home</h3>
                <p>Welcome to DynamoGym, your ultimate fitness destination! Our mission is to inspire and support you on your journey to a healthier, happier, and stronger version of yourself. At DynamoGym, we believe that fitness is not just about working out—it's about creating a balanced lifestyle that embraces physical activity, healthy eating, and mental well-being.</p>
                <span>Our Facilities</span>
                <p>At DynamoGym, we offer state-of-the-art facilities to meet all your fitness needs. Our gym features:</p>
                <ul>
                    <li>A wide range of modern cardio and strength training equipment</li>
                    <li>Spacious workout areas and group fitness studios</li>
                    <li>Dedicated spaces for functional training and personal training sessions</li>
                    <li>Clean and well-maintained locker rooms with showers</li>
                    <li>A relaxing lounge area and smoothie bar to refuel after your workout</li>
                </ul>
                <span>Our Programs</span>
                <p>We understand that every fitness journey is unique, which is why we offer a variety of programs to suit your individual needs:</p>
                <ul>
                    <li><h5>Group Fitness Classes:</h5> From high-intensity interval training (HIIT) and spin classes to yoga and Pilates, our diverse class schedule has something for everyone.</li>
                    <li><h5>Personal Training:</h5> Work one-on-one with our certified personal trainers to create a customized workout plan tailored to your goals.</li>
                    <li><h5>Nutrition Counseling:</h5> Our nutrition experts provide personalized meal plans and advice to help you fuel your body and reach your fitness objectives.</li>
                    <li><h5>Special Programs:</h5> Join our specialized programs such as weight loss challenges, strength training workshops, and wellness seminars to enhance your fitness journey.</li>
                </ul>
                <span>Join Us</span>
                <p>Whether you are a seasoned athlete or just starting your fitness journey, DynamoGym is here to help you achieve your goals. Come visit us today, take a tour of our facilities, and see for yourself why DynamoGym is the best place to start or continue your fitness journey.</p>
            </div>
            <div class="image">
                <img src="/images/im1.jpg">
            </div>
        </div>
    </section>
    <script src="/javascripts/resp.js"></script>
</body>
</html>