<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DynamoGym</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style_index.css">
</head>
<body>
    <!--<header class="header active">
        <a class="logo">DynamoGym</a>
        <div class="navbar-list">
            <nav class="navbar">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/service">Services</a>
                <a href="/join">Join Us</a>
                <a href="/stay">Stay Connected</a>
            </nav>
        </div>
        <div class="mobile-navbar-btn">
            <i class="fa fa-bars" aria-hidden="true" name="menu"></i>
            <i class="fa fa-times" aria-hidden="true" name="close"></i>
        </div>
        <div class="time">
            <p>Our Timings</p>
            <p>8:00am - 7:00pm</p>
        </div>
    </header>-->
    <nav class="navbar h-nav-resp">
        <ul class="nav-list v-class-resp">
            <div class="logo">DynamoGym</div>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/service">Services</a></li>
            <li><a href="/join">Join</a></li>
            <li><a href="/stay">Connected</a></li>
        </ul>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <section class="home" id="home">
        <div class="content">
            <div class="time v-class-resp">
                <p>Our Timings</p>
                <p>8:00am - 7:00pm</p>
            </div>
            <h1><span>GET FIT</span>, STRONG</h1>
            <h2>& MOTIVATED</h2>
            <h4>BUILD</h4>
            <h3>YOUR BODY</h3><h2><span>TRANSFROM</span> YOUR LIFE</h2>
        </div>
    </section>    
</body>
<script src="/javascripts/resp.js"></script>
</html>