<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DynamoGym</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style_service.css">
</head>
<body>
    <nav class="navbar h-nav-resp">
        <ul class="nav-list v-class-resp">
            <div class="logo">DynamoGym</div>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/service">Services</a></li>
            <li><a href="/join">Join</a></li>
            <li><a href="/stay">Connected</a></li>
        </ul>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <section class="service" id="service">
        <h1 class="heading">Our Services</h1>
        <div class="box-container">
            <div class="box">
                <img src="/images/s1.jpg">
                <div class="service-content">
                    <h3>Personal Training</h3>
                    <p>Achieve your fitness goals faster with personalized guidance from our certified personal trainers. Our trainers will work with you to develop a customized workout plan tailored to your specific needs, whether you're aiming to lose weight, build muscle, or improve your overall fitness.</p>
                </div>
            </div>
            <div class="box">
                <img src="/images/s2.jpg">
                <div class="service-content">
                    <h3>Group Fitness Classes</h3>
                    <p>Stay motivated and have fun while working out with others in our dynamic group fitness classes. We offer a variety of classes, including:</p>
                    <ul>
                        <li><h5>Yoga and Pilates:</h5><p> Enhance your flexibility, balance, and core strength.</p></li>
                    </ul>
                </div>
            </div>
            <div class="box">
                <img src="/images/s3.jpg">
                <div class="service-content">
                    <h3>Wellness Programs</h3>
                    <p>Promote holistic health and well-being with our range of wellness services, such as:</p>
                    <ul>
                        <li><h5>Massage Therapy: </h5><p> Relieve muscle tension and reduce stress with our professional massage therapists.</p></li>
                    </ul>
                </div>
            </div>
            <div class="box">
                <img src="/images/s4.jpg">
                <div class="service-content">
                    <h3>Online and Virtual Services</h3>
                    <p>Stay connected and maintain your fitness routine from anywhere with our online services:</p>
                    <ul>
                        <li><span>Virtual fitness classes</span></li>
                        <li><span>Online personal training sessions</span></li>
                        <li><span>Nutritional consultations via video call</span></li>
                        <li><span>Fitness challenges and community support through our mobile app</span></li>
                    </ul>
                </div>
            </div>
            <div class="box">
                <img src="/images/s5.jpg">
                <div class="service-content">
                    <h3>State-of-the-Art Facilities</h3>
                    <p>Enjoy access to our top-notch facilities, including:</p>
                    <ul>
                        <li><span>Modern cardio and strength training equipment</span></li>
                        <li><span>Spacious workout areas and group fitness studios</span></li>
                        <li><span>Functional training zones</span></li>
                        <li><span>Clean and well-maintained locker rooms with showers</span></li>
                        <li><span>Relaxing lounge area and smoothie bar</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <script src="/javascripts/resp.js"></script>
</body>
</html>