<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DynamoGym</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style_stay.css">
</head>
<body>
    <nav class="navbar h-nav-resp">
        <ul class="nav-list v-class-resp">
            <div class="logo">DynamoGym</div>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/service">Services</a></li>
            <li><a href="/join">Join</a></li>
            <li><a href="/stay">Connected</a></li>
        </ul>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <section class="footer">
        <div class="footer-container">
            <div class="footer-box">
                <h3>DynamoGym</h3>
                <p>Elevate Your Fitness Journey</p>
            </div>
            <div class="footer-box">
                <h3>Contact Info</h3>
                <a href="#"><i class="fa fa-phone"></i> +123-875-9822</a>
                <a href="#"><i class="fa fa-envelope"></i> xyz@gmail.com</a>
                <a href="#"><i class="fa fa-map"></i> India</a>
            </div>
            <div class="footer-box">
                <h3>Quick Links</h3>
                <a href="#home"><i class="fa fa-arrow-right"></i>Home</a>
                <a href="#about"><i class="fa fa-arrow-right"></i>About</a>
                <a href="#service"><i class="fa fa-arrow-right"></i>Services</a>
                <a href="#price"><i class="fa fa-arrow-right"></i>Price</a>
                <a href="#join"><i class="fa fa-arrow-right"></i>Join</a>
            </div>
            <div class="footer-box">
                <h3>Extra Links</h3>
                <a href="#"><i class="fa fa-arrow-right"></i>Refund Policy</a>
                <a href="#"><i class="fa fa-arrow-right"></i>My Account</a>
                <a href="#"><i class="fa fa-arrow-right"></i>New Equipments</a>
                <a href="#"><i class="fa fa-arrow-right"></i>New Offers</a>
                <a href="#"><i class="fa fa-arrow-right"></i>Trainers</a>
            </div>
        </div>
        <div class="share">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-pinterest"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-instagram"></a>
        </div>
        <div class="credit">&copy; All rights are reserved by <span>Gauranshi Varshney</span></div>
    </section>
    <script src="/javascripts/resp.js"></script>
</body>
</html>